<h1>Champions#index</h1>
<p>Find me in app/views/champions/index.html.erb</p>

<ul>
    <% @champions.each do |key, champ| %>
        <li><%= champ['name'] %><br></li>
        <li><%= champ['title'] %></li><br>
    <% end %>
</ul>