<h1>Champions list</h1>

<ul>
    <% @champions.each do |key, champ| %>
        <li>
            <!-- Passing only the ID of a champion when we are dealing with json -->
            <%= link_to "#{champ['name']}", champion_path(champ['id']) %> 
        </li>
    <% end %>
</ul>